<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMBNVJCU9ZGcd0h5vCzJmqJI9FgujTdns</string>
	<key>GCM_SENDER_ID</key>
	<string>741423330029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gubify.app</string>
	<key>PROJECT_ID</key>
	<string>gubify-a3e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>gubify-a3e2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741423330029:ios:555bd16f1a786e2a6f52e4</string>
</dict>
</plist>